@import "tailwindcss";

body {
  background: linear-gradient(120deg, #000000, #0b1d3a, #000000);
  background-repeat: no-repeat;
}

/*From Login.jsx*/
@keyframes ping-slow {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

.animate-ping-slow {
  animation: ping-slow 1.2s infinite;
}
